<!doctype html>
<html ng-app = "store">
  <head>
    <title>My Angular App</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body>
    <h1>Hello world !</h1>
  <div class = "container">
    <div ng-controller = "StoreController as store">
      <div ng-hide="store.product.soldOut">
       <ul class = "list-group">
        <li class="list-group-item" ng-repeat="products in store.product | orderBy:'price' ">
    <p>Product Name: {{products.name}}</p>
    <p><em class = "pull-right">Product Price: <strong>{{products.price | currency }}</strong></em></p>
    <ul class ="nav nav-pills">
      <li ng-class= "{active: tab===1}"><a href ng-click = "tab=1">Description</a></li>
      <li ng-class= "{active: tab===2}"><a href ng-click = "tab=2">Specifications</a></li>
      <li ng-class= "{active: tab===3}"><a href ng-click = "tab=3">Reviews</a></li>
    </ul>
    <section ng-init= "tab=1">
    <div class= "panel" ng-show= "tab===1">
      <h4>Description</h4>
      <blockquote>{{products.description}}</blockquote>
    </div>
    <div class= "panel" ng-show= "tab===2">
      <h4>Specification</h4>
      <blockquote>Not Yet !</blockquote>
    </div>
    <div class= "panel" ng-show= "tab===3">
      <h4>Reviews</h4>
      <blockquote ng-repeat = "review in products.reviews">
        <b>Stars: {{review.stars}}</b>
        {{review.body}} <br />
        <cite>by: {{review.author}}</cite>
      </blockquote>
      <form name="reviewform" ng-controller = "ReviewController as reviewctrl" ng-submit = "reviewctrl.addReview(product)" novalidate>
         <blockquote>
         <b>Stars: {{reviewctrl.review.stars}}</b>
         {{reviewctrl.review.body}} <br />
         <cite>by: {{reviewctrl.review.author}}</cite>
         </blockquote>
         <select ng-model="reviewctrl.review.stars" required>
          <option value="1">1 star</option>
          <option value="2">2 star</option>
          <option value="3">3 star</option>
          <option value="4">4 star</option>
          <option value="5">5 star</option>
         </select>
        <textarea ng-model="reviewctrl.review.body" required></textarea>
        <label>by:</label>
        <input type="email" placeholder="example@email.com" ng-model="reviewctrl.review.author" required />
        <input type= "submit" value="Submit" />
        <div> The form is {{reviewform.$valid}}</div>
      </form>
    </div>
  </section>
    <button ng-show="products.hasPurchased">Add to cart</button>
       </li>
     </ul>
  </div>
  </div>
  </div>
  <script type = "text/javascript" src= "angular.min.js"></script>
  <script type= "text/javascript" src = "app.js" ></script>
  </body>

</html>